@import '../../styles/global';

.newspage {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px;
}

.newsarticle {
    margin-top: 20px;
    img {
        width: 100%;
    }
}

