@import '../../styles/global';
@import '../../styles/_variables';

.newspage {
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 850px;
    margin: auto;
    padding: 50px;
}

.newsarticle {
    padding-left: 20px;
    padding-right: 20px;
    img {
        width: 100%;
    }
}

.rightpane {
    width: 20%;
    min-width: 200px;
    margin-top: 20px;
    border: 1px solid;
}

.signature {
    display: inline-block;
    padding-top: 2px;
    border-top: 1px solid $melon;
    color: $melon;
}
