@import '../../styles/_variables';
@import '../../styles/_fonts';

.questions {
    margin-bottom: 275px;
    width: 600px;

    .optioncontainer {
        text-align: center;
    }


    .matchcard {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 70%;
        border-radius: 5px;
    }
    
    .matchcard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    img {
        object-fit: contain;
        height: 200px;
        width: auto;
        border-radius: 5px 5px 0 0;
    }
    
    .info_container {
        padding: 2px 16px;

        p {
            text-align: -webkit-auto;
        }
    }

    .match {
        margin-top: 20px;
        outline: none;
        text-align: center;
        background-color:#00d78f;
        font-weight: 200;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        text-decoration:none;
      }
        .match:hover {
          background-color:#00a54a;
          text-decoration: none;
        }
        .match:active {
          position:relative;
          top:1px;
        }

    .select__value-container--has-value {
        width: 300px;
    }
    .select__multi-value {
        background-color: $melon;
    }
}


.partners {
    margin-top: 2em;
    text-align: center;
    padding-bottom: 3em;
}

.partners-table{
    width: 100%;
    text-align: center;
    img {
        max-width: 33%;
        margin: 20px;
        max-height: 80px;
    }
}
