@import '../../styles/_variables';
@import '../../styles/_fonts';




#prev {
  border-radius: 5px;
  float: left;
  margin-left: 4px;
}

#next {
  border-radius: 5px;
  float: right;
  margin-right: 5px;
}

#start-btn {
  align-self: center;
}

.question-card-wrapper {
  
  width: 50%;
  margin-top: 2%;
  margin-left: 25%;
  padding: 2%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 600px){
    width: 100%;
    margin-left: 0;
    padding: 0;
    box-shadow: 0 0 0 0;
  }

  .question-index {
    width: 6vh;
    margin-left: 1px;
    border-radius: 5px;
    z-index: -1;
    flex-direction: row;
    height: 4vh;
    text-align: center;
    background: $melon;
    justify-content: center;

    .index-value {
      color: white;
      font-size: 3vh;
      font-weight: bold;
    }
  }
  .question-content {
    margin: 0 0 0% 0;
  }

  .nav-btns {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}

.questions {
    margin: 0px 0% 32% 0%;
    
    p {
      text-align: center;
      padding-bottom: 4px;
    }
    button {
      bottom: 10px;
      width: 15vw;
      max-height: 12vw;
      border-radius: 5px;
      
    }


    .matching-question {
      text-align: center;
    }


    .matching-question-card {
        text-align: center;
    }
    @media screen and (max-width: 1000px) {
      .question-header {
         font-size: 3.5vw;
         padding-bottom: 5px;
         padding-top: 5px;
      }
    }

    

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 24px;
        border: 0;
        background: $melon;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 23px;
        height: 24px;
        border: 0;
        background: $melon; //url('../../../content/assets/MatchingLogo.png');
        cursor: pointer;
      }

    .trycontainer {
        margin-top: 30px;
        text-align: center;
    }

    .optioncontainer {
        text-align: center;
    }


    .matchcard {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 70%;
        border-radius: 5px;
    }
    
    .matchcard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    img {
        object-fit: contain;
        height: 200px;
        width: auto;
        border-radius: 5px 5px 0 0;
    }
    
    .info_container {
        padding: 2px 16px;

        p {
            text-align: -webkit-auto;
        }
    }

    .match {
        margin-top: 20px;
        outline: none;
        text-align: center;
        background-color:#00d78f;
        font-weight: 200;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        text-decoration:none;
      }
        .match:hover {
          background-color:#00a54a;
          text-decoration: none;
        }
        .match:active {
          position:relative;
          top:1px;
        }

    .select__value-container--has-value {
        width: 300px;
    }
    .select__multi-value {
        background-color: $melon;
    }
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    text-align: center;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    left: -1.5px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
    text-shadow: 0px 1px 0 #a2a2a2;

    .rating-text {
        font-size: 14px;
        color: white;
    }

    .fa-star-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" ><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>');
    }
    
    &-top {
      color: white;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
      text-align: left;
      white-space: nowrap;

      .fa-star-icon {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="color:white"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>');
      }
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
      text-align: left;
      white-space: nowrap;
    }
  }


.partners {
    margin-top: 2em;
    text-align: center;
    padding-bottom: 3em;
}

.partners-table{
    width: 100%;
    text-align: center;
    img {
        max-width: 33%;
        margin: 20px;
        max-height: 80px;
    }
}

.card-hover-disabled {
    margin: 0 auto;

    .wrapper {
        height: 0;
        min-height: 0;
        padding-bottom: 100%;
        background-position: center center;
    }
    .data {
        position: relative;
        transform: none;
    }
}

.matching-details {
    display: flex;

    div {
        margin-bottom: 4px;
    }

    .score-bar-container {
        margin-left: 10px;
        width: 200px;
        flex-shrink: 1;
        color: transparent;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .card-hover-disabled {
       width: 100%;
       padding: 0;
    }
}
