@import '../../styles/_variables';
@import '../../styles/_fonts';




#prev {
  border-radius: 5px;
  left: 5vw;
  float: left;
  margin-left: 5vw;
}

#next {
  border-radius: 5px;
  // right: 2vw;
  float: right;
  margin-right: 5vw;
}

#start-btn {
  align-self: center;
  // right: 20%;
  // bottom: 20px;
}

.questions {
    margin: 0px 10% 22% 10%;
    
    p {
      text-align: center;
      padding-bottom: 4px;
    }
    button {
      // align-self: baseline;
      // position: absolute;
      bottom: 10px;
      width: 15vw;
      max-height: 12vw;
      border-radius: 5px;
      
    }


    .matching-question {
      text-align: center;
    }


    .matching-question-card {
        text-align: center;
        // width:0%;
        // overflow:hidden;
        // -webkit-transition: width 1s ease-in-out;
        // -moz-transition: width 1s ease-in-out;
        // -o-transition: width 1s ease-in-out;
        // transition: width 1s ease-in-out;
        // width: 100%;
    }

    // .matching-question-card {
    //   width: 60%;
    //   left: 50%;
    //   justify-items: center;
    // }
    

    .slider {
        -webkit-appearance: none;
        width: 60vw;
        height: 10px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 24px;
        border: 0;
        background: $melon;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 23px;
        height: 24px;
        border: 0;
        background: $melon; //url('../../../content/assets/MatchingLogo.png');
        cursor: pointer;
      }

    .trycontainer {
        margin-top: 30px;
        text-align: center;
    }

    .optioncontainer {
        text-align: center;
    }


    .matchcard {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 70%;
        border-radius: 5px;
    }
    
    .matchcard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    img {
        object-fit: contain;
        height: 200px;
        width: auto;
        border-radius: 5px 5px 0 0;
    }
    
    .info_container {
        padding: 2px 16px;

        p {
            text-align: -webkit-auto;
        }
    }

    .match {
        margin-top: 20px;
        outline: none;
        text-align: center;
        background-color:#00d78f;
        font-weight: 200;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        text-decoration:none;
      }
        .match:hover {
          background-color:#00a54a;
          text-decoration: none;
        }
        .match:active {
          position:relative;
          top:1px;
        }

    .select__value-container--has-value {
        width: 300px;
    }
    .select__multi-value {
        background-color: $melon;
    }
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    text-align: center;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    left: -1.5px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
    text-shadow: 0px 1px 0 #a2a2a2;

    .rating-text {
        font-size: 14px;
        color: white;
    }
    
    &-top {
      color: white;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }


.partners {
    margin-top: 2em;
    text-align: center;
    padding-bottom: 3em;
}

.partners-table{
    width: 100%;
    text-align: center;
    img {
        max-width: 33%;
        margin: 20px;
        max-height: 80px;
    }
}

.card-hover-disabled {
    margin: 0 auto;

    .wrapper {
        height: 0;
        min-height: 0;
        padding-bottom: 100%;
        background-position: center center;
    }
    .data {
        position: relative;
        transform: none;
    }
}

.matching-details {
    display: flex;

    div {
        margin-bottom: 4px;
    }

    .score-bar-container {
        margin-left: 10px;
        width: 200px;
        flex-shrink: 1;
        color: transparent;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .card-hover-disabled {
       width: 100%;
       padding: 0;
    }
}
