@import '../../styles/global';
@import '../../styles/_variables';

.background_Images {
  width: 100%;
  display: block;
  align: center;
  padding-top: 5px;
}
.background_Images:hover {
  transform: scale(0.98);
}
.background_Images.Small {
  max-width: 33%;
	display: inline-block;
  padding-bottom: 1em;
}
.background_Images.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  padding-bottom: 1em;
  align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5.5em;
  padding: 1em;
}
#certificat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  border-radius: 25px;
}

#submitForm {
	text-align: center;
	padding: 1em;
}
.text {
	margin: 2px 0 0 20px !important;
	word-break: word;
	text-align: left;
}
.newSection {
  padding-bottom: 1em;
  padding-top: 1em;
}

//not used
.newSection2_inner {
  padding-bottom: 1em;
  padding-top: 1em;
  opacity: 100;
  margin-left: 22%;
  margin-right: 22%;
  filter: none;
}
.newSection2 {
  padding-bottom: 5em;
  padding-top: 1em;
  background-image: url('/assets/sustainability/download.png');
  margin-left: -35%;
  margin-right: -35%;
}
