@import '../../styles/global';
@import '../../styles/_variables';

.faqcompanies-container {
	padding-top: 3em;
    max-width: $page-width;
	margin: auto;
}

@media screen and (max-width: $breakpoint-mobile) {
	.faqcompanies-container {
		padding: 3em 1em 0em 1em;
	}

}