@import '../../styles/_variables';
@import '../../styles/_fonts';

.info-container {
  padding: 3em 0em;
  max-width: $page-width;
  //position: static;
  margin: auto;
  //padding: 1em 0em;
}

#information-for-exhibitors {
  margin-bottom: 0.5em;
}

@media screen and (max-width: $breakpoint-mobile-flipped){
  .info-container {
    padding: 3em 1em;
    //position: static;
    //max-width: 850px;
    //margin: auto;
    //padding: 1em 0em;
  }
  
  #information-for-exhibitors {
    font-size: 2em;
  }

}
