@import '../../styles/_variables';
@import '../../styles/global';
/* Last edited by Nima Mehrabadi, changing FAQ to grid */

.answers-wrap {
    width: 100%;
    background-image: url("/assets/22068755_2890283657654250_15852127_o.png");
    background-size: cover;
    padding-top: 10%;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
}

.grid-container-answers {
    display: flex;
    flex-direction: column;
    width: 70%;
    // grid-template-columns: auto auto;
}

.accordion-homepage {
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 3em;
}

.accordion-homepage .parent {
    position: relative;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    text-align: center;
    border: thin solid #dadce0;
}

.accordion-homepage .parent:not(.selected) h2 {
    cursor: pointer;
}

.accordion-homepage .parent h2 {
    outline: none;
    position: relative;
}

.accordion-homepage .parent:first-child,
.accordion-homepage .parent:first-child:not(.selected) > h2 {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.accordion-homepage .parent:last-child,
.accordion-homepage .parent:last-child:not(.selected) > h2 {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.accordion-homepage .parent:last-child .children {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

// .accordion-homepage h2 {
//     font-size: 0.875rem;
//     padding: 1rem 3.25rem 1rem 4rem;
// }

.accordion-homepage h2 {
    text-align: left;
    background-color: #ffffff;
    color: #202124;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
    padding: 0.875rem 3.25rem 0.875rem 1.75rem;
}

.terre {
    margin-top: 30px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 600px) {
    .terre {
        width: 80%;
    }
}

.hcfe h2 {
    font-size: 1.5rem;
}

.hcfe h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0 0 0.25rem;
}

.hcfe h1,
.hcfe h2,
.hcfe h3,
.hcfe h4,
.hcfe h5 {
    color: #202124;
    font-family: 'Bebas Neue', Helvetica, Arial;
    font-weight: 400;
}

.chevron {
    height: 0.5rem;
    position: absolute;
    right: 1.75rem;
    top: calc(50% - 0.4rem);
    width: 1.5rem;
}

.children {
    background-color: #eeeeee;
    position: relative;
    text-align: left;
    transition: 300ms max-height ease;
    overflow: hidden;
}

.children a {
    color: $diversity;
}

.answer {
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.2rem;
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
    text-align: left;
}

.browse-header {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
/* using "topics-container" and "topic-container" is super confusing. Todo: change this */
.topics-container {
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
}

@media screen and (max-width: $breakpoint-mobile) {
    .topic-container {
        margin-bottom: 1em;
    }
    .topic-container:nth-child(5) {
        margin-left: 0%;
    }
    .contact-us {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: $breakpoint-pad) {
    .topics-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
.topic-container {
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 150px;
}

.topic-container:hover {
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.2);
}

.topic-container:nth-child(5) {
    margin-right: 0%;
}
/* Changed this from fixed size pixels. Please move away from using pixels as font-size */
.topic {
    color: $melon;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: min(2vw, 1);
    padding: 0.5rem;
}

.contactBtn {
    margin: 0 auto;
    margin-bottom: 2em;
}

.FAQ-Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
