@import '../../styles/_variables';
@import '../../styles/global';

.accordion-homepage {
    border: thin solid #dadce0;
    border-radius: .5rem;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 3em;
    width: 60%;
}

.accordion-homepage .parent:first-child, .accordion-homepage .parent:first-child > h2 {
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
}

.accordion-homepage .parent:first-child {
    border-top: none;
}

.accordion-homepage .parent {
    position: relative;
    border-top: thin solid #dadce0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.accordion-homepage .parent:not(.selected) h2 {
    cursor: pointer;
}

.accordion-homepage .parent h2 {
    outline: none;
    position: relative;
}

.accordion-homepage .parent:last-child, .accordion-homepage .parent:last-child:not(.selected) > h2 {
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
}

.accordion-homepage .parent:last-child .children {
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
}

.accordion-homepage h2 {
    font-size: .875rem;
    text-align: left;
    padding: 1rem 3.25rem 1rem 4rem;
}

.accordion-homepage h2 {
    background-color: #ffffff;
    color: #202124;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
    padding: .875rem 3.25rem .875rem 1.75rem;
}

.terre {
    margin-top: 100px;
    width:50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 600px) {
    .terre {
        width: 80%;
    }
}

.hcfe h2 {
    font-size: 1.5rem;
}

.hcfe h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0 0 .25rem;
}

.hcfe h1, .hcfe h2, .hcfe h3, .hcfe h4, .hcfe h5 {
    color: #202124;
    font-family: 'Bebas Neue', Helvetica, Arial;
    font-weight: 400;
}

.chevron {
    height: 0.5rem;
    position: absolute;
    right: 1.75rem;
    top: calc(50% - .4rem);
    width: 1.5rem;
}

.children {
    background-color: #EEEEEE;
    position: relative;
    text-align: left;
    transition: 300ms max-height ease;
    overflow: hidden;
}

.children a {
    color: $diversity;
}

.answer {
    font-size: 1.0rem;
    font-weight: 450;
    line-height: 1.2rem;
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
}

.browse-header {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;    
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-top: 2em;
}

.topics-container {
    display: flex;
    margin: 0 auto;
    padding: 2em;
    justify-content: center;
}

@media screen and (max-width: $breakpoint-mobile) {
	.topics-container {
        flex-direction: column;
        align-items: center;
	}
    .topic-container {
        margin-bottom: 1em;
        margin-left: 2em;
    }
    .topic-container:nth-child(5) {
        margin-left: 0%;
    }
} 

.topic-container {
    width: 200px;
    height: 150px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin-right: 2em;
    cursor: pointer;
}

.topic-container:hover {
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.2);
}

.topic-container:nth-child(5) {
    margin-right: 0%;
}

.topic {
    color: $melon;
    text-align: center;
    font-size: 21px;
    line-height: 44px;
    display: flex;
    align-items: center;
}

.contactBtn {
    margin:0 auto;
    margin-bottom: 2em;
}
