@import '../../styles/variables';
@import '../../styles/mixins';

.career-content {
    flex: 0.7;
    padding: 2em 0 2em 0;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakpoint-pad) {
        flex: 0.85;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        flex: 1;
        padding: 2em 0 0 0;
    }

    .job-query {
        padding: 1em 1em 0 1em;
        display: flex;
        flex-direction: column;
        scroll-margin-top: 3rem;

        @media screen and (max-width: $breakpoint-mobile-flipped) {
            scroll-margin-top: initial;
        }

        .job-search {
            border: none;
            border-bottom: thin solid hsl(0, 0%, 80%);
            outline: none;
            margin: 1em 0;
            padding: 0.5em;
            font-size: 14pt;
        }

        .results {
            padding: 0 0.5em;
        }
    }

    .career-header {
        padding: 1em 1em 0 1em;
    }

    .career-not-found {
		display: flex;
		flex: 1;
		justify-content: center;
    }

    .chip {
        padding: 0 1em;
        border: thin solid $melon;
        border-radius: 2em;
        margin: 0.2em;
        display: inline-flex;
        color: $licorice;
        align-items: center;
        height: 2.5em;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        transition: background-color 500ms ease-in-out;

        &.selected {
            background-color: $melon;
        }

        &:hover {
            background-color: $melon;
        }
    }
}
