@import '../../styles/_variables';

.countdown-container {
    position: relative;
    color: #fff;
    z-index: 2;
    width: 500px;

    .happening {
        padding-top: 0.5em;
        color: #fff !important;
    }

    .countdown-width-container {
        .countdown-numbers {
            color: #fff;
            //font-weight: bold;
            font-size: 7vmin;
            text-align: left;
            margin-top: 5px;
        }

        .countdown-row {
            display: block;
        }

        .countdown-column {
            float: left;
            width: 25%;
            text-align: center;
        }

        .time-unit {
            text-align: left;
            line-height: 0;
            font-weight: bold;
            font-size: calc(10px + 0.6vw);
            color: #fff;
            padding: 1px;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: $breakpoint-mobile-flipped) {
    .countdown-container {
        width: 300px;

        .countdown-numbers {
            font-size: calc(30px + 0.8vw);
            margin-top: 0;
        }

        .time-unit {
            font-size: calc(10px + 0.8vw);
        }
    }
}
