@import '../../styles/_variables';
@import '../../styles/_fonts';

.events {
  width: 100%;
  height:100%;
  margin: auto;
}

.events-feed {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.event-item {
    display: flex;
    flex-direction: row;
    padding: 2em;
    .image-section{
      width: 40%;
    }
    .details-section{
       width: 60%;
       padding-left: 1em;
        .name{
            text-align: left;
        }
        .description {
          text-align: left;
          //display: none;
        }
        .event-property{
            display: flex;
            flex-direction: row;
            .icon{
                width: 25px;
                height: 25px;
            }
            p{
                margin: 0 0 0 5px;
                text-align: left;
            }
        }
    }
}

.event-item:hover {
  cursor: pointer;
  cursor: hand;
}
.comingEvents{
  cursor: pointer;
  h2{
    color: $licorice;
  }
  .name{
    text-decoration: underline;
    }
    p{
      text-align: center;
    }
}
.thickline{
  hr{
    border: none;
      height: 5px;
      background-color: #333; /* Modern Browsers */
  }
}
.pastEvents{
  padding-top: 3em;
  h2{
    color: $licorice !important;
  }
  .pastEvent{
    //z-index: 10;
    //opacity: .5;
    //filter: alpha(opacity=50);
  }
}

.modalimage {
  img{
    width: 100%;
  }
}
.modal-event-property{
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .icon{
    width: 25px;
    height: 25px;
  }
  .icon_group_event{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  p{
    margin: 0 0 0 5px;
  }
}

.modalinfo{
  padding: 10px 10px;
}
.modalbutton{
  text-align: center;
  .rsvpbutton{
    display: inline-block;
    border-radius: 4px;
    background-color: $melon;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    transition: all 0.5s;
    margin: 5px;
    cursor: pointer;
    }
    .rsvpbutton:hover{
      text-decoration: underline;
    }
    .rsvpclosed{
      display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 20px;
        transition: all 0.5s;
        margin: 5px;
    }
}


@media screen and (max-width: $breakpoint-mobile) {

  .description{
    font-size: $text-standard-mobile;
    line-height: $line-height-mobile;
  }
  .modal-event-property{
    flex-direction: column;
    .icon_group_event{
      flex-direction: row;
      p{
        font-size: 14px;
      }
    }
  }
  .events-feed {
    padding: 0%;
  }
  .event-item {
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
  .image-section{
    width: auto;
    max-height: 100%;
    img{
      left: 50%;
      top: 50%;
      width: 100%;
      height: auto;
      //height: 100%;
    }
  }
  .name {
    font-size: large;
  }
}

// flipped phone
@media screen and (max-width: $breakpoint-mobile-flipped) {
    .modal-event-property{
      flex-direction: column;
      .icon_group{
        flex-direction: row;
      }
    }
  }
