@import '../../styles/_variables';
@import '../../styles/_fonts';

.setShowState {
    display: flex;
    justify-content: center;
}

.checkBoxes {
    display: flex;
    justify-content: space-around;
    z-index: 100;
}

.checkBox {
    display: flex;
    align-items: center;
    color: $melon;
}

.events {
    width: 100%;
    height: 100%;
    margin: auto;
}
.events-feed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    padding-top: 0;
}
.event-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    cursor: pointer;
    cursor: hand;
    background-color: $licorice;
    color: $melon;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 20px;
}
.event-item .image-section {
    width: 50%;
    padding-right: 1rem;
}
.event-item .details-section {
    width: 50%;
    color: white;
}
.event-item .details-section .event-name {
    text-align: left;
    padding: 0.2em 0em 0.2em 0em;
}
.event-item .details-section .description {
    text-align: left;
}
.event-item .details-section .event-property {
    display: flex;
    flex-direction: row;
    height: 1.5em;
    margin-bottom: 0.3em;
}
.event-item .details-section .event-property .icon {
    width: 1.5em;
    padding: 0em 0.5em 0em 0em;
    align-self: center;
}
.event-item .details-section .event-property p {
    margin: 0;
    text-align: left;
    align-self: center;
    line-height: 1em;
    color: white;
}
.event-item:hover {
    cursor: pointer;
    cursor: hand;
    .event-name {
        text-decoration: underline;
    }
}

.comingEvents {
    cursor: pointer;
    h2 {
        color: $licorice;
    }
}
.pastEvents p {
    text-align: center;
    padding: 1em;
}
.comingEvents p {
    text-align: center;
    padding: 1em;
    //opacity: .5;
    filter: alpha(opacity=50);
}
.thickline {
    hr {
        border: none;
        height: 5px;
        background-color: #333; /* Modern Browsers */
    }
}
.pastEvents {
    padding-top: 3em;
    h2 {
        color: $licorice;
    }
    .pastEvent {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

.modalimage-event {
    img {
        width: 100%;
    }
}
.modalbutton {
    .rsvpbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: $melon;
        border: none;
        color: white;
        text-align: center;
        font-size: 15px;
        width: 100%;
        transition: all 0.5s;
        cursor: pointer;
    }

    .rsvpbutton-small {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: $melon;
        border: none;
        color: white;
        text-align: center;
        font-size: 15px;
        width: 100%;
        transition: all 0.5s;
        max-height: 2rem;
        cursor: pointer;
    }

    .rsvpbutton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .rsvpbutton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .rsvpbutton:hover span {
        padding-right: 25px;
    }
    .rsvpbutton:hover span:after {
        opacity: 1;
        right: 0;
    }
    .rsvpclosed {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        padding: 20px;
        transition: all 0.5s;
        margin: 5px;
    }
}

@media screen and (max-width: $breakpoint-mobile-flipped) {
    .events-feed {
        padding: 0%;
    }
    .event-item .details-section .event-name {
        text-align: center;
    }
    .event-item .details-section {
        width: 100%;
        padding-left: 0;
    }
    .event-item .details-section .event-property {
        width: 100%;
    }
    .event-item {
        display: flex;
        flex-direction: column;
        padding: 1em;
        p {
            font-size: $text-standard-mobile;
        }
    }
    .event-item .details-section .event-name {
        font-size: 1.5em;
    }
    .event-item .details-section .event-property p {
        font-size: $text-standard-mobile;
    }
    .event-item .details-section .event-property .icon {
        width: 1.2em;
        height: 1.2em;
        padding: 0em 0.2em 0em 0em;
    }
    .event-item .image-section {
        width: 100%;
        margin: auto;
    }
    .modalbutton .rsvpbutton {
        width: 15em;
    }
}
