
@import '../../styles/_variables';
@import '../../styles/global';


.knightec{
    
.speakers {

  .speaker-list {
    z-index: 0;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .line {
      width: 80%;
      height: 1px;
      background-color: $melon;
    }
  
  }

}
.event-text{
    padding-top: 3em;
    padding-bottom: 70px;
    max-width: $page-width;
    margin: auto;

.event-description{
    text-align: center;
}
.agenda{
    padding-top: 30px
}

.schedule{
    display: flex;

.schedule-text{
    width: 70%;
}

.image-speakers2{
    width: 30%;
    
    

    .images2{
        border-radius: 50%;
        width: 90px;
        height: 90px;
        object-fit: cover;
        display: block;
        margin: auto;
        padding: 5px;
        margin-top: 10px;
    }
}
}

}

}
@media screen and (max-width: $breakpoint-mobile) {
    .sustainability-container {
        padding: 3em 1em 0em 1em;
    }
    .line {
        width: 80%;
        height: 0px;
        background-color: white;
      }
    .event-description {
        margin-left: 15px;
        margin-right: 15px
    }
    .schedule-text{
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }
   
    .image-speakers2{
        display:none;
    }
}

