.contact-map{
    height: 80vh;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-mask-border-radius:15px;
    -webkit-border-radius:15px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}