@import "../../styles/variables";
@import "../../styles/mixins";



.career-accordion {
    border-bottom: thin solid $light-grey;
    box-sizing: border-box;

    .apply {
        width: 100%;
        background-color: $melon;

        h2 {
            color: #fff;
            padding: 0.2em;
            font-weight: 700;
        }
    }

    .accordion-header {
        padding: 1em;
        flex: 0.8;
    }


    .accordion-parent {
        
        display: flex;
        position: relative;
        padding: 0;
        cursor: pointer;

        :first-child {
            border-top: none;
        }

        :first-child, :first-child > h2 {
            border-top-left-radius: .625rem;
            border-top-right-radius: .625rem;
        }

        h4, h5 {
            color: $licorice;
            text-align: left;
            font-weight: 500;
        }

        .external {
            height: 1.2em;
            padding-left: 0.2em;
            vertical-align:-0.1875em;
        }

        .chips {
            padding-top: 0.5em;

            .chip {
                padding: 0 1em;
                border: thin solid $melon;
                border-radius: 100px;
                margin: 0.2em;
                display: inline-flex;
                color: $licorice;
                align-items: center;
                height: 32px;
                font-size: 14px;
                cursor: pointer;
                margin-left: -0.2em;
                margin-right: 0.6em;
            }
        }
        
    }

    .accordion-children {
        position: relative;
        text-align: left;
        transition: 200ms max-height ease;
        overflow: hidden;

        .job-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        a {
            color: $diversity;
        }

        h3 {
            text-align: left;
        }

        
        @media screen and (max-width: $breakpoint-mobile) {
            .job-grid {
                grid-template-columns: 1fr;
            }
        }

    }

    .arrow {
        height: 0.5rem;
        position: absolute;
        right: 1.75rem;
        top: calc(50% - .4rem);
        width: 1.5rem;

        &.open {
            transform: rotate(180deg);
        }
    }
    
}
