.partners-gallery {
    text-align: center;
    padding: 1em 0;

    h1,
    h2 {
        padding-bottom: 1rem;
    }
}

.partners-table {
    width: 100%;
    text-align: center;

    img {
        max-width: 33%;
        margin: 20px;
        max-height: 60px;

        &.main-partner {
            max-height: 80px;
        }
    }
}
