@import '../../styles/global';
@import '../../styles/_variables';

.diversity {
    h1,
    h2,
    h3,
    h4,
    h5,
    a {
        color: $diversity;
        font-weight: bold;
    }


}

.diversitypage-container {
    padding-top: 2em;
    max-width: $page-width;
	margin: auto;

}

.diversity-day {
    background-image: url('/assets/diversity/diversity-blur.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;

    h1,
    h2,
    h3,
    h4,
    p,
    a {
        color: #fff;
    }

    a {
        text-decoration: underline;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .diversitypage-container {
        padding: 3em 1em 0em 1em;
    }

    .diversity-day {
        padding: 2em 1em;
    }
}
