@import '../../styles/global';
@import '../../styles/_variables';

.diversitypage-container {
	padding: 2em 0;
  	max-width: $page-width;
	margin: auto;
}

@media screen and (max-width: $breakpoint-mobile) {
	.diversitypage-container {
		padding: 3em 1em 0em 1em;
	}

}
