@import '../../styles/_variables';
@import '../../styles/_fonts';

.dayselector {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline;
  }
}

.maps {
  width: 100%;
  height:100%;
  margin: auto;
}
.maps-feed {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.map-item {
    display: flex;
    flex-direction: row;
    padding: 2em;
    cursor: pointer;
    cursor: hand;
  }
.map-item .image-section{
  width: 40%;
  }
.map-item .details-section{
   width: 60%;
   padding-left: 1em;
  }
.map-item .details-section .name{
    text-align: left;
    padding: 0.1em 0em 0.1em 0em;
  }
.map-item .details-section .description {
  text-align: left;
  }
.map-item .details-section .map-property{
    display: flex;
    flex-direction: row;
    height: 1.5em;
  }
.map-item .details-section .map-property .icon{
    width: 1.5em;
    padding: 0em 0.5em 0em 0em;
    align-self: center;
  }
.map-item .details-section .map-property p{
  margin: 0;
    text-align: left;
    align-self: center;
  }
.map-item:hover {
  cursor: pointer;
  cursor: hand;
  .name{
    text-decoration: underline;
  }
}
.comingmaps{
  cursor: pointer;
  h2{
    color: $licorice;
  }
}
.pastmaps p{
  text-align: center;
  padding: 1em;
}
.comingmaps p{
  text-align: center;
  padding: 1em;
  opacity: .5;
  filter: alpha(opacity=50);
}
.thickline{
  hr{
    border: none;
      height: 5px;
      background-color: #333; /* Modern Browsers */
  }
}
.pastmaps{
  padding-top: 3em;
  h2{
    color: $licorice;
  }
  .pastmap{
    opacity: .5;
    filter: alpha(opacity=50);
  }
}

.modalimage-map {
  img{
    width: 100%;
  }
}
.modalbutton{
  text-align: center;
  padding-bottom: 1em;
  .rsvpbutton{
    display: inline-block;
    border-radius: 4px;
    background-color: $melon;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    margin: 5px;
    cursor: pointer;
    }
    .rsvpbutton span{
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .rsvpbutton span:after{
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .rsvpbutton:hover span{
      padding-right: 25px;
    }
    .rsvpbutton:hover span:after{
      opacity: 1;
      right: 0;
    }
    .rsvpclosed{
      display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 20px;
        transition: all 0.5s;
        margin: 5px;
    }
}

@media screen and (max-width: $breakpoint-mobile-flipped) {

  .maps-feed {
    padding: 0%;
  }
  .map-item .details-section .name{
    text-align: center;
  }
  .map-item .details-section{
    width: 100%;
    padding-left: 0;
  }
  .map-item .details-section .map-property{
    width: 100%;
  }
  .map-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    p {
      font-size: $text-standard-mobile;
    }
  }
  .map-item .details-section .name{
    font-size: 1em;
  }
  .map-item .details-section .map-property p{
      font-size: $text-standard-mobile;
    }
  .map-item .details-section .map-property .icon{
      width: 1.2em;
      height: 1.2em;
      padding: 0em 0.2em 0em 0em;
    }
  .map-item .image-section{
    width: 100%;
    margin: auto;
  }
  .modalbutton .rsvpbutton{
    padding: 1em;
    width: 15em;
  }
}
