#questionnaire-container{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border: 1px;
    border-color: black;
    border-radius: 20px;
    box-shadow: 1rem gray;
    z-index: 100;
    padding: 10%;
}

.questions-group{
    width: 80%;
    margin: 10% 10% 10% 10%;
}

.button-group{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}