.questionnaire-container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border: 1px;
    border-color: black;
    border-radius: 40px;
    box-shadow: 1rem gray;
    z-index: 100;
    overflow: scroll;
    scrollbar-width: thin;
    // padding: 10%;
}

.button-open-questionnaire {
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
}
