@import '../../styles/_variables';
@import '../../styles/_fonts';

.crossQuestionnaire {
    width: 10%;
    height: 10%;
    min-width: 28px;
    min-height: 28px;
    margin: 0;
    top: 3%;
    left: 0;
}

.questionnaire-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(251, 248, 248);
    border-color: black;
    border-radius: 10px;
    padding: 1rem;
    max-width: 400px;
    width: 90%;
    //box-shadow: 1rem rgb(240, 236, 236);
    z-index: 1000;
    /*  overflow: scroll;
    scrollbar-width: thin; */
    //padding: 10%;
}

.button-open-questionnaire {
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
    z-index: 1000;
}

.root-container {
}

.question-content {
    border: 1px solid lightgray;
    border-radius: 5px;
    border-left: 4px solid #18a689;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    /* column-count: 2; 
    column-gap: 20px; */
}

.dropdown-button {
}

.input-button {
}

.dropdown-eraser {
}

.navigation-button {
    float: right;
    margin-left: 10px; /* Add some margin between the buttons if needed */
}

.modal-close-btn {
    //background-color: #f5f3f3; /* Red background color, you can change this */
    position: fixed;
    top: 5%;
    left: 88%;
    width: 0%;
    color: #fff; /* White text color */
    font-size: 20px;
    z-index: 100;
}
/*sd-dropdown_chevron-button  
sd-btn sd-navigation__next-btn
sd-input sd-dropdown
*/

@media screen and (max-width: $breakpoint-mobile-flipped) {
    .question-content {
        width: 100%;
        min-width: 0;
    }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 0.75rem 1rem !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 0.75rem 1rem !important;
}

.p-multiselect-close {
    display: none;
}

.p-multiselect .p-multiselect-label {
    display: flex;
    flex-wrap: wrap;
}

.p-multiselect .p-multiselect-token {
    margin-bottom: 0.5rem;
    font-size: 10px;
}
