$font-regular: "Lato", "Helvetica", "Arial";
$font-title: "Bebas Neue", "Helvetica", "Arial";

$title-font-size: 24px;
$title-big-font-size: 80px;
$title-font-family: $font-title;
$title-font-weight: 300;
$subheading-font-size: 18px;
$subheading-font-weight: 300;
$subheading-font-family: $font-regular;
$body-font-size: 16px;
$body-font-family: $font-regular;
$body-font-line-multiplier: 1.5;
$card-title-size: 24px;
$text-standard: 1em;

