@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

$font-regular: 'Lato', sans-serif;
$font-title: 'Oswald', sans-serif;

$title-font-size: 3em;
$title-big-font-size: 80px;
$title-font-family: $font-title;
$title-font-weight: 300;
$subheading-font-size: 18px;
$subheading-font-weight: 300;
$subheading-font-family: $font-regular;
$body-font-size: 14pt;
$body-font-family: $font-regular;
$body-font-line-multiplier: 1.5;
$card-title-size: 24px;
$text-standard: 1em;
$text-standard-mobile: 14px;
$line-height-mobile: 120%;
