// Colors
$grape: #e73953;
$licorice: #2d2d2c;
$melon: #00d790;
$diversity: #776aa2;
$background-color: #fafafa;
$text-color-dark: $licorice;
$text-color-light: #fafafa;
$highlight: $grape;
$navbar-links-font-color: white;
$primary-color: $melon;
$accent-color: $grape;
$light-grey: #e4e4e4;

// Layout
$header-min-height: 300px;
$header-height: 380px;
$footer-max-height: 128px;
$mobile-edge: 1em;
$page-width: 850px;
$iphone-SE: 321px;



// Animation
$transition-duration: 300ms;

// Breakpoints
$breakpoint-pad: 768px;
$breakpoint-mobile: 470px;
$breakpoint-mobile-flipped: 850px;
