// Colors
$grape: #e73953;
$licorice: #2d2d2c;
$melon: #00d790;
$green: green;
$blue: blue;
$background-color: #fafafa;
$text-color-dark: $licorice;
$text-color-light: #fafafa;
$highlight: $grape;
$navbar-links-font-color: white;
$primary-color: $melon;
$accent-color: $grape;
$light-grey: #e4e4e4;

// Layout
$header-height: 380px;
$footer-max-height: 128px;
$mobile-edge: 1em; 

// Animation
$transition-duration: 300ms;

// Breakpoints
$breakpoint-pad: 840px;
$breakpoint-mobile: 480px;
