@import "variables";
@import "fonts";

.dark-theme{
    background-color: $licorice;
    .title {
      color: $melon;
    }

    .sub-heading {
      color: $melon;
    }

    .light {
      color: $text-color-light;
    }

    p {
      color: $text-color-light;
    }

}


body{
  margin:0;
  color: $licorice;
  font-family: $font-regular;
  font-size: $body-font-size;
}

.body{
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 850px;
    margin: auto;
    margin-top: 50px;
    

    p {
        text-align: justify;
    }
}

.content{
    min-height:90vh;
    width: 100%;
}

.title {
    font-size: $title-font-size;
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    color: $primary-color;
    margin-bottom: 0.5em;
}

.sub-heading {
    font-size: $subheading-font-size;
    font-family: $subheading-font-family;
    font-weight: $subheading-font-weight;
}

p {
  color: $licorice;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-font-line-multiplier;
  font-weight: 300;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}



h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-family: $font-title;
        color: $melon;
        letter-spacing: 1.1px;
}

time {
  line-height: 1.25em;
  margin: 5em 0em;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.25em;  
}

h3 {
  font-size: 1.75em;
  line-height: 1.25em;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  position: relative;
  top: -30px;
  overflow: auto;
  min-width: 150px;
  max-width: 900px;
  box-sizing: border-box;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 2pt;

  .card-image {
    width: 100%;
    height: auto;
    background-size: contain;
  }

  .card-content {
    padding: 3em 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;

    .secondary {
      max-height: 100%;
    }
  }

  .card-content-the-fair{
    padding: 50px 100px;
  }
}


.justified {
  text-align: center;
}

@supports (text-align-last: center) {

.justified {
  text-align: justify;
  text-justify: inter-word;
  -moz-text-align-last: center;
  text-align-last: center;
}

}



@media screen and (max-width: $breakpoint-pad) {
  .card {
    .card-content {
      padding: 30px;
    }
    .card-content-the-fair{
      padding: 30px;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .body {
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 0;
      padding-right: 0;
      font-size: 16pt;
  }

  p {
    font-size: 16pt;
  }

  .card {
    .card-content {
      padding: 20px;
    }
    .card-content-the-fair{
      padding: 20px;
    }
  }
}

img {
  border: none;
}
