@import '../../styles/_variables';

.modalimage2 {
  margin-right: 20%;
  margin-left:  20%;
  padding-top: 5%;

  img{
    width: 100%;
  }
}


.modal-event-property{
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .icon{
    width: 25px;
    height: 25px;
  }

  .special{
    width: 125px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .icon_group{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .location{

      padding-left: 20%;
    }

  }


}

.modalinfo{
  padding: 1em 1em;
}


.description2{
  margin-right: 5%;
  margin-left: 5%;
  font-size: 16px;
}
.exhibitors {
  .search-containter{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    input{
      height: 15px;
      border: 1px solid $melon;
      border-radius: 4px;
      padding: 5px;
      margin: auto;
      width: 93%;
    }
    input:focus {
    border: 2px solid $melon;
    }
  }
  .checkbox-filtering{
    margin-left: 10%;
    margin-right: auto;
  }
  .exhibitor-feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .exhibitor-box{
      width: 130px;
      padding: 15px 10px 10px 10px;
      align-self: baseline;
      cursor: pointer;
        .image-container{
          img{
            display: block;
            margin: auto;
            max-height: 75px;
          }
        }
        p{
          color: $licorice;
          text-align: center;
          font-size: 13px;
          font-weight: bold;
        }
      }
      .exhibitor-box:hover p{
        text-decoration: underline;
      }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .exhibitors {
    .exhibitor-feed {
      margin-top: 1em;
      justify-content: space-around;
      padding: 0em 1em;
      .exhibitor-box {
        width: 95px;
        padding: 10px 5px 0px 5px;
        .image-container{
          img{
            max-height: 40px;
          }
        }
        p{
          font-size: 10px;
        }
      }
    }
  }
}
// flipped phone
@media screen and (max-width: $breakpoint-mobile-flipped) {
  .exhibitors {
    .exhibitor-feed {
      padding: 1em 1em;
      .exhibitor-box {
        width: 100px;
        padding: 5px 15px 5px 15px;
        .image-container{
          img{
            max-height: 60px;
          }
        }
        p{
        }
      }
    }
  }
}
