@import '../../styles/_variables';
@import '../../styles/_fonts';

@-webkit-keyframes shine {
	0% { left: -50%; }
  25% { left: 125%; }
  100% { left: 125%; }

}
@keyframes shine {
	0% { left: -50%; }
	25% { left: 125%; }
	100% { left: 125%; }
}

.modalimage-exhib {
  margin-right: 20%;
  margin-left:  20%;
  padding-top: 3%;
  img{
    width: 100%;
  }
}
  .special{
    width: 125px;
    height: 125px;
    display: block;
    margin: auto;
  }
    .location{
    }

.exhibitors  {
   padding-top: 1em;
   .filter-special{
     display: flex;
     flex-direction: row;
     justify-content: center;
     img{
       padding: 10px;
       height: 80px;
       width: 80px;
			 cursor: pointer;
       -webkit-transform: scale(1);
	     transform: scale(1);
	     -webkit-transition: .3s ease-in-out;
	     transition: .3s ease-in-out;
     }
     img:hover{
			 -webkit-transition: .3s ease-in-out;
	     transition: .3s ease-in-out;
       -webkit-transform: scale(1.25);
	      transform: scale(1.25);
				.exhibitor-box{
					-webkit-transform: scale(1.25);
	 	      transform: scale(1.25);
				}
     }
   }
  .search-containter{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    input{
      height: 15px;
      border: 1px solid $melon;
      border-radius: 4px;
      padding: 5px;
      margin: auto;
      width: 93%;
    }
    input:focus {
    border: 2px solid $melon;
    }
  }
  .checkbox-filtering{
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    margin-left: 18%;
  }

  .checkbox1{
    margin-right: 2%;

  }
  .checkbox2{
    margin-right: 2%;
  }
  .checkbox3{
    margin-right: 2%;
  }
  .checkbox4{
    margin-right: 2%;
  }



  .exhibitor-feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
		padding-bottom: 3em;
    .exhibitor-box{
			margin: 0em 5px 0em 5px;
			overflow: hidden;
      border-radius: 2px;
      margin-bottom: 10px;
      border: solid $light-grey;
      border-width: thin;
      width: 130px;
      height: 140px;
      padding: 5px 5px 5px 5px;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      cursor: pointer;
        .image-container{
          width: 90%;
          height: 80px;
          margin-left: auto;
          margin-right: auto;
          img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            transform: translate(0%, -50%);
            max-height: 75px;
          }
        }
        p{
          width: 90%;
          height: 50px;
          margin-left: auto;
          margin-right: auto;
          margin-top: -35px;
          color: $licorice;
          text-align: center;
          line-height: 110%;
          font-size: 13px;
          font-weight: bold;
        }
      }
    .exhibitor-box.purple{
			box-shadow: 1px 1px $light-grey;
      border: 1px solid $diversity;
    }
    .exhibitor-box.green{
			box-shadow: 1px 1px $light-grey;
      border: 1px solid $melon;
    }
      .exhibitor-box:hover{
        -webkit-transform: scale(1.1);
 	      transform: scale(1.07);
      }
      .exhibitor-box.green::before,
			.exhibitor-box.purple::before,
			.shine-loop::before {
        position: absolute;
      	top: 0;
      	left: -50%;
      	z-index: 2;
      	display: block;
      	content: '';
      	width: 50%;
      	height: 100%;
      	background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
      	background: linear-gradient(to right, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
      	-webkit-transform: skewX(-25deg);
      	transform: skewX(-25deg);
				//-webkit-animation-delay: 3s;
				//animation-delay: 3s;
      }
      .exhibitor-box.green:hover::before,
			.exhibitor-box.purple:hover::before {
        -webkit-animation: shine 2.5s infinite;
      	animation: shine 2.5s infinite;
				//-webkit-animation-delay: 3s;
				//animation-delay: 3s;

      }
			.shine-loop::before {
				-webkit-animation: shine 2.5s infinite;
      	animation: shine 2.5s infinite;
			}
    }

		.filter-special:hover{
			overflow: hidden;
			img::before{
        position: absolute;
      	top: 0;
      	left: -50%;
      	z-index: 2;
      	display: block;
      	content: '';
      	width: 50%;
      	height: 100%;
      	background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
      	background: linear-gradient(to right, rgba(1,1,1,0.8) 0%, rgba(255,255,255,0) 100%);
      	-webkit-transform: skewX(-25deg);
      	transform: skewX(-25deg);
      }
      img:hover::before{
        -webkit-animation: shine .6s;
      	animation: shine .6s
      }
		}
}

.corner-special{
		position: absolute;
		z-index: 1;
		bottom: 0%;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		img{
			padding: 0.3em;
			width: 25px;
			height: 25px;
		}
	}

.diversity-text {
  color: $diversity;
  font-weight: bold;
}

.green-text {
  color: $melon;
  font-weight:bold;
}

// flipped phone
@media screen and (max-width: $breakpoint-mobile-flipped) {
.exhibitors {
    .exhibitor-feed {
      padding: 1em 10px;
      .exhibitor-box {
				overflow: hidden;
        width: 120px;
        height: 105px;
        .image-container{
          img{
            margin-top: 30px;
            max-height: 60px;
          }
        }
        p{
          font-size: 11px;
          margin-top: -45px;
          line-height: $line-height-mobile;
        }
				.corner-special{
						img{
						width: 20px;
						}
					}
      }
    }
  }
}
