@import "../../styles/global";

.content {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: auto;
  min-height: 100%;
  height: auto;
}

.content p{
  text-align: justify;
  margin: 0;
}

@media screen and (max-width: $breakpoint-mobile) {
	.content p{
    //padding: 0em 2em 0em 2em;
	}

}
