@import '../../styles/global';
@import '../../styles/_variables';

.text {
    margin: 0;
    padding-bottom: 2.5px;
    padding-top: 2.5px;

    &.head{
      font-weight: bold;
      font-size: 1.5em;
      color: $melon;

    }
    &.name{
      font-size: 1.3em;
      font-weight: bold;
    }
    &.last{
      padding-bottom: 150px;
    }

}
.tmp{
  float: left;
  padding: 10px;
  height: 260em;
}
.tmp2{
  float: left;
  padding: 10px;
}

@media screen and (max-width: $breakpoint-mobile-flipped) {
    flex-direction: column;
    align-items: center;
}
