@import "../../styles/global";
@import "../../styles/_variables";

.aboutpage-container {
	padding-top: 3em;
  max-width: $page-width;
}

@media screen and (max-width: $breakpoint-mobile) {
	.aboutpage-container {
		padding: 3em 1em 0em 1em;
	}

}
