@import "../../styles/global";

.aboutpage-container {
	max-width: 850px;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

@media screen and (max-width: $breakpoint-mobile) {

	.aboutpage-container {
        margin: 1em 5vw 0em 5vw;
	}
      
}
