@import '../../styles/_variables';
@import '../../styles/global';

.funFactFlex {
    display: flex;
    max-width: none !important;
    justify-content: space-around;

    .factBox {
        border-radius: 9px;
        border: 1.739px solid rgba(100, 116, 139, 0.1);
        background: #323335;
        box-shadow: 0px 1.67357px 8.06196px 0px rgba(0, 0, 0, 0.25);
        width: 40%;
        padding: 4px;
        padding-right: 5%;
        .fact-title,
        .fact-statement {
            color: #fff;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            text-align: center;
            line-height: 24.186px; /* 120% */
        }
        .fact-title {
            width: 100%;
            text-decoration: underline;
        }

        .fact-description {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            img {
                margin-left: 2%;
                max-width: 75px;
                width: 20%;
            }
        }
    }
}

.fact-photo {
    width: 30%;
}
.fact {
    margin-bottom: 3%;
}

@media screen and (max-width: $breakpoint-mobile-flipped) {
    .flex-container {
        display: block;
    }

    .fact-box {
        width: 100%;
        margin-top: 1em;
    }
    .fact-break {
        display: none;
    }
}

.fact-picture {
    border-radius: 50%;
}

q {
    quotes: '\201c''\201d';
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

.fact {
    background-color: rgb(45, 45, 45);
    color: $melon;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 20px;
}
.sustainabilityFunFact {
    background-color: rgb(45, 45, 45);
    color: $melon;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.diversityFunFact {
    background-color: rgb(45, 45, 45);
    color: $diversity;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 20px;
}
.fact-header {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        position: absolute;
        margin-left: 70%;
        top: -120px;
        width: 190px;
    }
}

@media screen and (max-width: 1050px) {
    .fact-header {
        img {
            margin-left: 84%;
            width: 14vw;
            top: -40px;
        }
    }
}
