@import '../../styles/_variables';
@import '../../styles/_fonts';

@mixin modal-container {
    //padding: 1em 0em 1em 0em;
    transform: translateY(100%);
    ul {
        padding: 0;
    }
    @media screen and (max-width: $breakpoint-mobile-flipped) {
        padding: 0.5em 0em 0.5em 0em;
    }
    // transform: translateY(100%); /* Initially off-screen */
    // transition: transform 0.3s ease-in-out;
}

@mixin modal-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
}
.popupcontainer {
    position: fixed;
    height: 90%;
    z-index: 400;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}
.popup {
    position: relative;
    z-index: 400;
    margin: auto;
    top: 0;
    width: 100%;
    background: white; //rgba(255, 255, 255, 0.9);
}
.cross {
    display: inline;
    z-index: 1000;
    margin: 0.4em 0.4em 0em 0.4em;
    color: $melon;
    width: 40px;
    height: 40px;
    fill: $melon;
    path {
        stroke: $melon;
    }
}
.cross:hover {
    cursor: pointer;
    color: red;
    path {
        stroke: red;
    }
}

.modalcontent {
    overflow-wrap: break-word;
    text-align: justify;
    //height: 50%;
    //top: 50%;

    .modal-subheaders {
        font-size: 1.2em;
    }

    .modal-container {
        display: flex;
        flex-direction: row;
        padding: 0em 2em 2em 2em;
    }
    .modal-flex-1 {
        position: relative;
        width: 35%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .modalimage-exhib {
            min-width: 80px;
            min-height: 80px;
            max-width: 70%;
            max-height: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .modal-title {
            margin-top: 10%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: $text-color-dark;
            .exhibitor-title-website {
                cursor: pointer;
            }
        }
        .links {
            margin-top: 0.2em;
            color: blue;
            text-decoration: none;
        }
        .links a {
            color: blue;
            font-size: 0.8em;
        }
    }
    .modal-flex-2 {
        width: 65%;
        text-align: center;
    }
    .modalinfo {
        // padding: 2em 0em 2em 0em;
        width: 100%;
    }
    .modal-property {
        display: flex;
        flex-direction: column;
        // padding: 1em 0em 1em 0em;
        align-self: center;
    }
    .job-location-container {
        display: flex !important ;
        flex-wrap: wrap;
        .job-container {
            width: 25%;
        }
        .location-container {
            width: 25%;
        }
        .competence-container {
            width: 25%;
        }
        .city-container {
            width: 25%;
            font-weight: 400;
        }
        .city-container p {
            text-align: center;
            margin-top: 1em;
            line-height: 1.2em;
        }
    }
    .modal-property .icon {
        width: 25px;
        height: 25px;
    }
    .modal-property .icon-group {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        //margin: 0.15em 0em;
    }
    .modal-property p {
        margin: 0 0 0 5px;
    }

    .modal-property-event {
        display: flex;
        // flex-direction: column;
        padding: 1em 0em 2em 0em;
        align-self: center;
        justify-content: center;
    }
    .modal-property-event .icon {
        width: 25px;
        height: 25px;
    }
    .modal-property-event .icon-group {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-right: 10px;
        //margin: 0.15em 0em;
    }
    .modal-property-event p {
        margin: 0 0 0 5px;
    }
}

.modalinfo .description-container {
    padding: 0em 2em 0em 2em;
}
.modalinfo .description-container .description p {
    // padding-bottom: 1em;
}
.modalinfo .description-container .climate-compensation {
    text-align: left;
}
.modalinfo .fairposition-container {
    padding: 1em 0em 1em 0em;
}
.modalinfo .fairposition-container .fairposition {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.modalinfo .fairposition-container .fairposition .icon {
    width: 1.4em;
    height: 1.4em;
}
.modalinfo .fairposition-container .position {
    padding: 0em 0em 0em 0.5em;
    align-self: center;
    font-weight: 400;
}
.modalinfo .fairposition-container .map {
    padding: 2em 0em 2em 0em;
}
.modalinfo .job-container {
    @include modal-container;
    transform: translateY(0%);
}
.modalinfo .job-container .job-section {
    @include modal-section;
    transform: translateY(0%);
}
.modalinfo .location-container {
    @include modal-container;
    transform: translateY(0%);
}
.modalinfo .competence-container {
    @include modal-container;
    transform: translateY(0%);
}
.modalinfo .city-container {
    @include modal-container;
    transform: translateY(0%);
}
.modalinfo .location-container .location-section {
    @include modal-section;
    transform: translateY(0%);
}
.modalinfo .competence-container .competence-section {
    @include modal-section;
    transform: translateY(0%);
}
.modalinfo .city-container .city-section {
    @include modal-section;
    transform: translateY(0%);
}
a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .modalinfo .description-container {
        padding: 0.5em 3em 0.5em 3em;
    }
    .modalinfo .fairposition-container .fairposition {
        font-weight: 400;
    }
}

@media screen and (max-width: $breakpoint-mobile-flipped) {
    .popup {
        width: 100vw;
        overflow-y: scroll;
    }
    .modalcontent {
        .modal-container {
            display: flex;
            height: auto;
            flex-direction: column;
        }
        .modal-flex-1 {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;
            margin-top: 5%;
            text-align: center;
            .modalimage-exhib {
                width: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .modal-title {
                width: 70%;

                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
            }
        }
        .modal-flex-2 {
            width: 100%;
            text-align: center;
        }
        .job-location-container {
            .job-container {
                width: 100%;
            }
            .location-container {
                width: 100%;
            }
            .competence-container {
                width: 100%;
            }
            .city-container {
                width: 100%;
            }
        }
    }
    .modalcontent .modal-property {
        // padding: 1em 0em 1em 0em;
    }
    .modalcontent .modal-property-event {
        padding: 1em 0em 1em 2.5em;
    }
    .modalcontent p {
        font-size: $text-standard-mobile;
        line-height: $line-height-mobile;
    }
    .modalcontent .modalinfo {
        h3,
        h2 {
            font-size: 1.1em;
        }
        .icon {
            width: 20px;
            height: 20px;
        }
    }

    .modalinfo .description-container {
        padding: 0em 0.5em 0em 0.5em;
        margin-top: -2em;
        p {
            font-size: 1em;
        }
    }

    .modalinfo .description-container .description {
        //padding: 0em 1em 0.5em 1em;
        //font-size: $text-standard-mobile;
        line-height: $line-height-mobile;
    }

    .modalinfo .description-container .climate-compensation {
        text-align: center;
    }

    .modalinfo .fairposition-container {
        padding: 0.5em 1em 1em 1em;
    }
    .modalinfo .fairposition-container .fairposition {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: $text-standard-mobile;
    }
}

.event-picture {
    padding-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
}

@media screen and (max-width: $breakpoint-ipad) {
    .modalcontent .modal-property-event {
        padding: 1em 0em 1em 2.5em;
        margin-bottom: 2em;
    }

    .event-picture {
        max-width: 40%;
    }
}

@media screen and (max-width: $breakpoint-mobile-flipped) {
    .event-picture {
        max-width: 50%;
    }

    .event-info {
        font-size: 2em !important;
    }

    .city-string {
        font-size: 18px !important;
    }
}
