@import '../../styles/_variables';
@import '../../styles/_fonts';


.popupcontainer{
  position: fixed;
  z-index: 150;
  top: 0em;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}
.popup {
  position: relative;
  z-index: 400;
  margin: auto;
  top: 0;
  width: 50%;
  border-radius: 5px;
  background: white; //rgba(255, 255, 255, 0.9);
  margin-bottom: 3em;
  margin-top: 3em;
  padding-bottom: 1em;
}
.shade {
  position: fixed;
  z-index: 350;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  .shadecontent{
    position: absolute;
    top: 1em;
    right: 2em;
  }
}

.cross{
  color: $text-color-light;
  z-index: 9999;
  position: fixed;
  max-height: 50px;
  top: 0px;
  right: 3vw;
  margin-top:-5px;
  font-size: 4em;
}
.cross:hover {
  cursor: pointer;
  cursor: hand;
}

.modalcontent {
  overflow-wrap: break-word;
  text-align: justify;

  .description {
    padding: 0em 4em;
    margin: 0em auto;
    max-width: 550px;
  }
}



@media screen and (max-width: $breakpoint-mobile) {

  .popup {
    width: 90vw;
  }

  .cross {
    position: fixed;
    background-color: $grape;
    right: 15px;
    top: 0px;
  }
  .modalcontent {
    p {
      font-size: $text-standard-mobile;
      line-height: $line-height-mobile;
    }

    .description {
      padding: 0em 1em;
    }
  }
    .shade {
      .shadecontent{
        position: absolute;
        top: 0px;
        right: 5px;
        .cross{
          color: $text-color-light;
        }
      }
    }
}
