@import '../../../styles/_variables';
@import '../../../styles/_fonts';

.floorButtons {
    z-index: 100;
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    top: 18%;
    right: 10px;
}
.floorButton {
    display: inline-flex;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    width: 5vw;
    height: 5vw;
    min-width: 32px;
    min-height: 32px;
    max-width: 40px;
    max-height: 40px;
    color: rgb(94, 178, 94);
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.407);
}
.floorButton:hover {
    background-color: rgb(94, 178, 94);
    color: #fff;
}

.activeFloorButton {
    background-color: rgb(94, 178, 94);
    color: #fff;
}
