@import "../../../styles/_variables";
@import "../../../styles/_fonts";

.floorButtons {
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  justify-self: center;
  z-index: 100;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
  width: min-content;
  row-gap: 10px;
}
.floorButton {
  display: inline-flex;
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  color: #00d78f;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.floorButton:hover,
.floorButton:active {
  background-color: white;
  opacity: 0.6;
  color: #00d78f;
}

.floorButton.activeFloorButton {
  background-color: #00d78f;
  color: #fff;
  opacity: 1;
}
