@import '../../styles/_variables';
@import '../../styles/_fonts';

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  font-family: $font-title;
  font-size: 100%;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  >.hidden {
      display: none;
  }

  .menu-wrapper {
    background-color: $licorice;
    width : 100%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

    .menu-hamburger {
        display:none;
        position: relative;
    }

    .menu {

      a {
        display: inline-block;
        border-right: 1px #fff solid;
        text-decoration: none;
        transition: color 0.4s;
        color: $text-color-light;
        padding: 5px 20px;

        &:hover {
          color: $melon !important;
          border-right: 1px solid #fff !important;
        }

        &.active {
          color: $melon;
        }

        &:last-child {
          border-right: 0 !important;
        }

      }

    }

  }

  @media screen and (max-width: 1200px) {
    font-size: 1.2em;
  }

}

@media screen and (max-width: $breakpoint-mobile-flipped) {
  
  #navbar{
				overflow: hidden;
        position: absolute;

        .menu-wrapper {
            width: 100%;
            padding-top: 0;
            
            &.visible {
              .menu-hamburger {
                position: absolute;
                right: 0;
              }
            }

            .menu-hamburger {
                pointer-events: all;
                display: block;
                height: 1em;
                padding-top: 0.5em;
            }

            .menu {
                pointer-events: all;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: space-evenly;
                width: 100%;
                
                @media screen and (max-width: $breakpoint-mobile) {
                  height: 100vh;
                  height: calc(100vh - 60px);
                }

                a {
                  color: #fff !important;
                  border-right: none !important;
                  font-size: 1.2em;
                  -webkit-tap-highlight-color: transparent;

                  &:hover {
                    color: #fff !important;
                    text-decoration: underline !important;
                    border-right: none !important;
                  }

                }

                a:last-child {
                  border-bottom: 0 !important;
                }
            }

            .hidden {
                display: none;
            }

        }

        .menu-wrapper.hidden {
            background-color: transparent;
            text-align: center;
            display: inline-block;
        }

        .menu-wrapper.visible {
            background-color: $melon;
        }
    }

}
