@import '../../styles/_variables';


@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

img {
        max-width: 100%;
        height: auto;
}

.preview-content{
    a ~ h1:hover,h2:hover {
      text-align: left; // new
      text-decoration: underline;
    }
    h1,h2 {   // new
      text-align: left;
    }
    margin: 0px;
    padding: 0em 1em;

}

.ingress {
    margin-top: 1em 0em;
}

.ingress:hover {
  text-decoration: none;
}

.newsitem {
    padding-bottom: 5px;
}

.newsitem.regular {
    margin: 2em 0em;
    img {
		margin: 0em 1em 0em 0em;
        width: auto;
        height: auto;
        max-height: 281px;
    }

    .regular-news-link {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}


.newsitem.featured {
    //margin: 3em 0em;
    margin: 0em 0em;   // new
	.preview-content {
		margin: 0em 0em 3em 0em;
	}

    img {
		margin-bottom: 1em;
        width: 100%;
        object-fit: cover;
    }
}



/*
@media screen and (max-width: $breakpoint-pad) {

    .newsitem {
        img{
            height: 12em;
            width: 100%;
        }
    }

	.newsitem.regular {
		img {
			margin: 0em;
		}
	}
}
*/
@media screen and (max-width: $breakpoint-mobile) {
    .post {
        margin: 0em 0em;
        height: 200px;
    }
    .preview-content {
        margin: 1em $mobile-edge;
    }

    .newsitem.featured {
        .preview-content {
            margin: 1em 5vw 0em 5vw;
        }
        img {
            margin: 0em 0em 0em 0em;
            width:100%;
            height: auto;
       }
    }

    .newsitem.regular {
        margin: 0em 0em;
        .preview-content {
            margin: -200px 0px 0px 0px;
            h2 {
                display: inline;
                background-color: #fff;
                padding: 0.2em 0.25em 0em 0.25em;
            }
            time {
                display: inline;
                width: auto;
                margin: 0px;
                background-color: #fff;
                padding: 0em 0em 0em 0.5em;
            }
        }
    }
}
