@import '../../styles/_variables';


@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

.preview-content{
    a ~ h1:hover,h2:hover {
      text-decoration: underline;
    }
}

.ingress {
    margin-top: 1em 0em;
}

.ingress:hover {
  text-decoration: none;
}

.newsitem {
    padding-bottom: 5px;
}

.newsitem.regular {	
    p {
            margin: 0;
            font-size: 0.8em;
    }
    img {
		margin: 0em 1em 0em 0em;
        width: 300px;
        max-height: 180px;
    }
}


.newsitem.featured {

	.preview-content {
		margin-bottom: 3em;
	}

    img {
		margin-bottom: 1em;
        width: 100%;
        object-fit: cover;
    }
}




@media screen and (max-width: $breakpoint-pad) {

    .newsitem{
        text-align: center;
        img{
            width: 675px;
            height: 405px;
            max-width: 100%;
            border-radius: 100%;
            margin: auto;
        }
    }

	.newsitem.regular {
        text-align: center;
		margin: 1em 0em;  
        p{
            text-align: center;
        }
		img {
			margin: 0em;
		}
	}
}

@media screen and (max-width: 450px) {
    .newsitem{
        text-align: center;
        img{
            width: 495px;
            height: 297px;
            margin: auto;
        }
    }

}
