@import "../../styles/variables";


.Exhibitors-container {
  padding: 3em 0em;
  max-width: $page-width;
}


@media screen and (max-width: $breakpoint-mobile-flipped){
  .Exhibitors-container {
    padding: 3em 1em;
  }
}
