@import "../../styles/variables";

.Exhibitors-container {
  position: static;
  //min-width: 650px;
  max-width: 850px;
  margin: auto;
  padding: 0em 1em 0em 1em;
}

.content{
  position: relative;
  overflow: hidden;
}
