
.partners {
    margin-top: 2em;
    text-align: center;
    padding-bottom: 3em;
}

.partners-table{
    width: 100%;
    text-align: center;
    img {
        max-width: 33%;
        margin: 20px;
        max-height: 80px;
    }
}
