@import "../../styles/_variables";
@import "../../styles/_fonts";


  .application-section {
      text-align: center;
      margin-bottom: 50px;
  }

  button {
    -webkit-appearance: none;
    font-family: $font-regular;
    font-size: 17px;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 120px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: $melon;
    color: white;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    a {
    color: $text-color-light;
    font-family: $font-regular;
    }
  }

  button:not([disabled]):hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
  }

  button[disabled] {
    background-color: $grape;
    box-shadow: none;
    cursor: not-allowed;
  }
  .rolelist {
    h1,h2,h3,h4,h5{
    text-align: left;
    margin-bottom: 2%;
    }

  .applysection{
    margin:auto;
    text-align: center;
    background: white;
    padding: 1em;
    border-bottom: solid $text-color-light;
    border-width: thin;
  }


  .role-container{

  }


.role-header{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.role-header-left{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.role-header-right{
    width: 10%;
    text-align: right;
}

.arrow-icon{
    float: right;
    transition: transform 0.35s ease-in-out;
}
.collapsed-arrow{
    transform: rotate(180deg);
}
.expanded-arrow{
    transform: rotate(360deg);
}
.role-description{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.35s ease-in-out;
    margin-bottom: 2%;
}
.expanded {
    max-height: 500px;
}


}
