@import '../../styles/_variables';
@import '../../styles/global';


.forStudents-container {
  padding: 3em 0em;
  max-width: $page-width;
  margin: auto;
}

@media screen and (max-width: $breakpoint-mobile-flipped){
  .forStudents-container {
    padding: 3em 1em;
  }
}
