@import '../../styles/_variables';
@import '../../styles/global';


.forStudents-container {
  padding: 3em 0em;
  max-width: $page-width;
  margin: auto;
}
.text {
    margin: 0;
    padding-bottom: 5px;


    &.head{
      font-weight: bold;
      font-size: 1.5em;
      color: $melon;

    }
    &.name{
      font-size: 1em;
      font-weight: bold;
    }
    &.last{
      padding-bottom: 150px;
    }

}

@media screen and (max-width: $breakpoint-mobile-flipped){
  .forStudents-container {
    padding: 3em 1em;
  }
}
