@import "../../styles/variables";
@import "../../styles/mixins";

#footer {
  background-color: $licorice;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  background-size: cover;
  transition: background-color $transition-duration linear;


  .logosection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  a {
    font-size: 16px;
  }



  .logo {
    @include circle(48px);
    margin: 10px;
  }

  & img{
    width: 100%;
  }

  .apps-container {
    width: 72px;
    margin: 10px;
  }

  .divider{
    @include verticle-line(25px, 2px, $background-color);
    margin: 10px;
  }
}

// Mobile
@media screen and (max-width: $breakpoint-mobile) {
  #footer {
    .logo {
      @include circle(32px);
      margin: 5px;
    }

    .divider {
      margin: 5px;
    }

    .apps-container {
      width: 64px;
      margin: 5px;
    }
  }
}
