@import '../../styles/_variables';
@import '../../styles/_fonts';

    .pagesection {
      display: flex;
      flex-direction: row;
    }

    .image {
      width: 50%;
      img {
        width: 100%;
        max-height: 100%;
      }
    }
    .dark {
      background-color: $licorice;
    }

    .pagesection.right {
      flex-direction: row-reverse;
    }

    .pagesection-body-container {
      width: 50%;
      .pagesection-body {
        padding: 1em;
        max-width: 35em;
        margin: auto;

        h1 {
          font-size: 1.75em;
          line-height: 1.25em;
        }

        h2 {
          font-size: 1.25em;
          line-height: 1.25em;
        }


        .title {
          color: blue;
        }
      }
    }


@media screen and (max-width: $breakpoint-mobile) {

  .image {

    width: 100%;
    display: flex;
    img{

    height: 80%;

    }
  }

  .pagesection {

    display: flex;
    flex-direction: column;
  }

  .pagesection-body-container {
    width: 100%;

  }

  .pagesection.right {

    flex-direction: column;
  }



}
