@import '../../styles/_variables';
@import '../../styles/_fonts';

.pagesection {
}

.with-row {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #00d790;
    margin: auto;
    width: 90%;
}
.image {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 95%;
  }
}
.dark {
  background-color: $licorice;
}
.pagesection.right {
}
.pagesection-body-container .pagesection-body p {
  padding-bottom: 1em;
}
.pagesection-body-container {
  .pagesection-body {
    padding: 1em;
    max-width: 35em;
    margin: auto;
    text-align: center;
    .h1_small {
      font-size: 1.75em;
      line-height: 1.25em;
      padding-bottom: 1em;
    }
    h2 {
      font-size: 1.25em;
      line-height: 1.25em;
      padding-bottom: 1em;
    }
    .title {
      color: blue;
    }
  }
}

@media screen and (max-width: $iphone-SE) {
  .pagesection-body-container .pagesection-body h1 {
    font-size: 1.55em;
  }
  .pagesection-body-container .pagesection-body h2 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: $breakpoint-mobile) {

  .image {
    width: 100%;
    display: flex;
    img{
      height: 80%;
    }
  }
  .pagesection {
    //display: flex;
    //flex-direction: column;
    width: 100%;
  }
  .pagesection-body-container {
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  .pagesection-body-container .pagesection-body{
    padding: 0em;
  }

  .pagesection.right {
  }
  .dark {
    background-color: white;
  }
  .dark img{
    background-color: $licorice;
  }
}
