@import '../../styles/global';
@import '../../styles/_variables';


#a{
//visibility: visible;
display: unset;
}
#b{
 //   visibility: hidden;
 display: none;
}
#c{
 //   visibility: hidden;
 display: none;
}
#d{
 //   visibility: hidden;
 display: none;
}
#e{
  //  visibility: hidden;
  display: none;
}
.interviewee {
    display: flex;
    align-items: flex-start;
    padding: 0.5em 0;

    @media screen and (max-width: $breakpoint-mobile-flipped) {
        flex-direction: column;
        align-items: center;
    }

    .card_Image {
        border-radius: 25px;
        height: '200em';
        width: '250em';
        margin: 0.5em;
        display: inline-block;
        margin-top: 1em;

        &:hover {
            transform: scale(0.98);
        }
    }

    .question {
        display: inline-block;
        width: 15em;
    }

    > div {
        margin-left: 1em;

        .text {
            margin: 0;
            word-break: break-word;
            text-align: left;
            padding-bottom: 5px;

            &.Question,
            &.name,
            &.interviewTitle {
                font-weight: bold;
            }

            &.name,
            &.interviewTitle {
                color: $melon;
            }

            &.name {
                font-size: 1.3em;
            }

            &.interviewTitle {
                font-size: 0.9em;
            }
        }
    }
}
