@import '../../styles/global';
@import '../../styles/_variables';

.knightecpage-container {
    padding-top: 3em;
    max-width: $page-width;
    margin: auto;
}

@media screen and (max-width: $breakpoint-mobile) {
    .knightecpage-container {
        padding: 3em 1em 0em 1em;
    }
}
