@import "../../styles/global";
@import "../../styles/_variables";

.containerConcept {
    padding-top: 3em;
    max-width: $page-width;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
    color: #2d2d2c;
    font-size:$body-font-size ;
    font-family: "Lato", sans-serif; 
    line-height: 1.5;
    font-weight: 300;

 }
 .containerButtons{
    padding-top: 3em;
    padding-bottom: 1em;
 }


@media screen and (max-width: $breakpoint-mobile-flipped) {
      
             
             .containerConcept {
                padding: 3em 1em 0em 1em;
             }
    }
    