@import '../../styles/_variables';
@import '../../styles/global';

.contact-card {
    position: relative;
    width: 32vw;
    height: 40vw;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.6);

    transition: 0.4s;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    p {
        margin: 0;
    }

    .card-image {
        width: inherit;
        height: 75%;
        border-radius: 40px;
        background-color: gray;
        box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
            -5px -5px 30px 7px rgba(0, 0, 0, 0.22);

        img {
            width: inherit;
            height: 100%;
            border-radius: 40px;
            object-fit: cover;
            object-position: top;
        }
    }

    .card-title {
        text-align: right;
        width: 100%;
        height: 25%;

        border-radius: 0 0 40px 40px;

        .card-text {
            margin: 0px 0 0 26px !important;
            padding-right: 4px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: left;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1.4vw;

            .card-name {
                width: 80%;
                color: $melon;
                font-weight: 400;
                //font-size: 100%;
                //line-height: 24px;
                text-align: left; //start moving away from using default text-align: justify as this breaks a lot of things
            }

            .title-melon {
                color: $melon;
                //font-size: 14px;
                margin-top: 0px;
                line-height: 2vw;
                display: inline;
            }

            .linkedin-logo {
                bottom: 85%;
                left: 85%;
                position: absolute;
                padding-top: 2vw;
                padding-right: 2vw;

                text-align: right;
                width: 5vw;
                height: 5vw;
                opacity: 0.9;
                filter: gray;
                -webkit-filter: grayscale(1);
                -webkit-transition: all 0.3s ease-in-out;

                &:hover {
                    filter: none;
                    -webkit-filter: grayscale(0);
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .contact-card .card-title .card-text {
        font-size: 2vw;
    }
    .contact-card .card-title .card-text .title-melon {
        line-height: unset;
    }
    .contact-card {
        width: 45vw;
        height: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .contact-card .card-title .card-text {
        font-size: 3.5vw;
    }
    .contact-card .card-title .card-text .title-melon {
        line-height: unset;
    }
    .contact-card {
        width: 75vw;
        height: 100vw;
    }
    .contact-card .card-title .card-text .linkedin-logo {
        width: 10vw;
        height: 10vw; //make the linkedin button bigger on tiny screens
    }
}
