@import "../../styles/_variables";
@import "../../styles/_fonts";
@import "../../styles/global";

.phenomic-HeadingAnchor {
    display: none;
}


.phenomic-BodyContainer {
    p{
        text-align: justify;
        padding: 0em 1em;
    }
}
