@import '../../styles/_variables';
@import '../../styles/_fonts';

.mapBox {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    //margin: 0 2.5vw 0 2.5vw;
    width: 100%;
    height: 50vh;
    box-sizing: border-box;

    //margin-top: 56px; //the default menu bar is 56px height
    // margin-bottom: 8vh;
    .bigMap {
        width: 100vw;
        padding: 0;
        height: 70vh;
        text-align: center;
        background: #dedede6a;
    }
    //margin-top: 56px;
}

.homeIcon {
    z-index: 100;
    position: fixed;
    display: inline;
    #icon {
        width: 40px;
        height: 40px;
    }
    right: 10px;
    top: 20px;
}

.loadingAnim {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
}

.exhibitorList {
    margin-top: 100px;
}

.leafletMap {
    margin-top: 100px;
}

@keyframes dancingEffect {
    0%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-10px);
    }
}
