@import '../../styles/_variables';
@import '../../styles/_fonts';

.mapBox {
    padding: 0;
    margin: 0 2.5vw 0 2.5vw;
    height: 100%;
    width: 95vw;
}

//This is added because the navbar expands at around ipad breaking point and want to push the map down
@media screen and (max-width: 1200px) {
    .mapBox {
        margin-top: 50px;
    }
}

.exhibitorList {
    margin-top: 100px;
}

.leafletMap {
    margin-top: 100px;
}

@keyframes dancingEffect {
    0%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-10px);
    }
}
