@import '../../styles/_variables';
@import '../../styles/_fonts';

.mapBox {
    padding: 0;
    //margin: 0 2.5vw 0 2.5vw;
    width: 100vw;
    height: 100%;
    //margin-top: 56px; //the default menu bar is 56px height
    // margin-bottom: 8vh;
    .bigMap {
        width: 100vw;
        padding: 0;
        height: 70vh;
        text-align: center;
    }
}

//This is added because the navbar expands at around ipad breaking point and want to push the map down
@media screen and (max-width: 1200px) {
    .mapBox {
        //margin-top: 150px;
        .bigMap {
            max-height: 35vh;
        }
    }
}

.exhibitorList {
    margin-top: 100px;
}

.leafletMap {
    margin-top: 100px;
}

@keyframes dancingEffect {
    0%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-10px);
    }
}
