@import '../../styles/_variables';
@import '../../styles/_fonts';

.Mapspage-container {
  padding: 3em 0em;
  max-width: $page-width;
  //position: static;
  margin: auto;
  //padding: 1em 0em;
}

@media screen and (max-width: $breakpoint-mobile-flipped){
  .Mapspage-container {
    padding: 3em 1em;
    //position: static;
    //max-width: 850px;
    //margin: auto;
    //padding: 1em 0em;
  }
}
