@import '../../styles/variables';

.partners {
    margin-top: 4%;
    margin-bottom: 4%;
}

.partnersGallery {
    width: 100%;
    text-align: center;

    img {
        max-height: 250%;
        margin: 5%;
        max-width: 45%;
    }
}
