@import '../../styles/_variables';
@import '../../styles/global';

.contacts {
    h1 {
        padding-top: 1.5em;
        margin-bottom: 1rem;
    }
    text-align: center;
    .contact-list {
        z-index: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .line {
            width: 100%;
            height: 3px;
            background-color: $melon;
        }
    }
}

.backgroundTitle {
    z-index: -1;
    position: absolute;
    width: 100%;
}
