@import "../../styles/variables";
@import "../../styles/mixins";

.career-accordion {
    border-bottom: thin solid $light-grey;

    .no-select {
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .accordion-parent {
        display: flex;
        position: relative;
        padding: 0;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        .accordion-header {
            padding: 1em;
            flex: 0.8;
        }

        h4, h5 {
            color: $licorice;
            text-align: left;
            font-weight: 500;
        }

        h4 {
            span {
                padding-right: 0.2em;
            }
        }

        .location {
            color: $diversity;
        }

        .external {
            height: 1.2em;
            vertical-align: -0.1875em;
        }

        .chips {
            padding-top: 0.5em;

           .chip {
                margin-left: -0.2em;
                margin-right: 0.6em;
           }
            
        }

        .arrow {
            height: 0.5rem;
            position: absolute;
            right: 1.75rem;
            top: calc(50% - .4rem);
            width: 1.5rem;

            &.open {
                transform: rotate(180deg);
            }
        }
        
    }

    .accordion-children {
        position: relative;
        text-align: left;
        transition: 200ms max-height ease;
        overflow: hidden;

        .job-cont {
            border-top: thin solid $light-grey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 0 1rem 0;

            .job-info {
                flex: 1;
                font-size: 1.0rem;
                font-weight: 450;
                line-height: 1.2rem;
                display: inline-block;
                padding: 1rem;
                white-space: pre-wrap;
            }
        }

        h3 {
            text-align: left;
        }

        .apply {
            flex: 1;
            background-color: $melon;
            transition: background-color 500ms ease-in-out;

            &:hover {
                background-color: $diversity
            }
            
            h2 {
                color: #fff;
                padding: 0.2em;
                font-weight: 700;
            }

            a:hover {
                text-decoration: none;
                
            }
        }

    }
    
}
