@import '../../styles/_variables';

.newsfeed {
    margin: 3em 1em 6em 1em;  // nytt
    min-height: 100%;
    ul {
        li {
            margin: 1em 0em;
            min-height: 143px;
        }
    }
}

.newsitem.regular {
    display: flex;
    flex-direction: row;
}

.armada-news {
    text-align: center;
    border-bottom: 1px solid $melon;
    margin: 2em 1em 5em 1em;
}

.post {
    //post item margins should go here if applicable.
    height: 200px;
}

@media screen and (max-width: $breakpoint-mobile) {
    .newsfeed {
       margin: 3em 0em 6em 0em;  // nytt
        ul {
            li {
                margin: 3em 0em;
                min-height: 143px;
            }
        }
    }
}



/*
@media all and (max-width: $breakpoint-pad) {
    ul.newsfeed {
        li.regular {
            img {
                max-width: 100%;
                max-height: 120px;
                margin-right: 0;
            }
        }
    }

    .newstitle {
        margin: $mobile-edge;
    }

    .newsitem.regular {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
*/
