
ul.newsfeed {
    list-style-type: none;
    padding-left: 0;
    li {
        padding-top: 10px;
        border-bottom: 1px solid;
        
    }
    li.featured {

        img {
            width: 100%;
        }
    }
    li.regular {
        img {
            max-width: 200px;
            max-height: 100px;
            margin-right: 10px;
        }
    }
}

.ingress {
    margin: 0;
    font-weight: bold;
}

.newsitem.regular {
    display: flex;
    flex-direction: row;
    img {
        width: 225px;
        height: 135px;
    }
}

.newsitem.featured {
    border-bottom: 1px solid;
    img {
        width: 100%;
    }
}

.newsitem {
    padding-bottom: 5px;
}


@media all and (max-width: 410px) {
    ul.newsfeed {
        li.regular {
            img {
                max-width: 100%;
                max-height: 120px;
                margin-right: 0;
            }
        }
    }

    .newsitem.regular {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
    
