@import '../../styles/global';
@import '../../styles/_variables';

.banner {
    text-align: center;
    color: #fff;
    background-color: $melon;
    font-size: 1.2em;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;

    &:hover {
        text-decoration: underline;
        text-decoration-color: #fff;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 1em;
    }
}
