.exitButton {
    all: unset;
    background-color: white;
    text-align: right;
}

.tocClosed {
    display: none;
    .TOCMobile {
        width: 0;
    }
    .ContentsMobile {
        width: 0;
    }
}

.tocOpen {
    display: inline;
    position: sticky;
    .TOCMobile {
        width: 60vw;
    }
    .ContentsMobile {
        width: 60vw;
    }
}

.ContentsMobile {
    display: flex;
    position: absolute;
    z-index: 9;
    flex-direction: column;
    background-color: #252524;
    overflow-y: auto;
    height: 80vh;
    z-index: 10;
}

.ContentsMobile ul {
    list-style-type: none;
    padding-left: 3vw;
}

.ContentsMobile li {
    padding: 5px 5px 5px 5px;
}
